# node-postgres configuration
PGHOST=localhost
PGUSER=developer
PGPASSWORD=secret
PGDATABASE=songsapp
PGPORT=5432

# Message broker
RABBITMQ_SERVER=amqp://localhost:5672

# Email
MAIL_ADDRESS=
MAIL_PASSWORD=
